{
  "parser": "babel-eslint",
  "env": {
      "browser": true
  },
  "plugins": [
      "react",
      "requirejs"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
  ],
  "rules": {
    "no-console": 0,
    "requirejs/no-invalid-define": 2,
    "requirejs/no-multiple-define": 2,
    "requirejs/no-named-define": 2,
    "requirejs/no-commonjs-wrapper": 2,
    "requirejs/no-object-define": 1
    

  }
}